extends layout

block content
	div.navbar.navbar-default.navbar-fixed-top
		container 
			div.navbar-header
				a.navbar-brand(href='/') #{config.name}

				button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
					span.icon-bar
					span.icon-bar
					span.icon-bar
			div.navbar-collapse.collapse#navbar-main
				ul.nav.navbar-nav
					each link in links
						- var isActive = (link.path == current ? 'active' : '')
						li(class = '#{isActive}')
							a(href='#{link.path}')= link.label
				div.pull-right
					ul.nav.navbar-nav.navbar-right
						if user
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown')
									| Hi #{user.name.first}!&nbsp;
									b.caret
								ul.dropdown-menu
									//-li
										a(href='/needmorestuff')
									li
										a(href='/profile') Settings
									li
										a(href='/logout') Log Out

									if user.role==='admin'
										li
											a(href='/admin') Admin Section
						else
							li.dropdown
								a.dropdown-toggle(href='/login') Login
									b.caret

				
					

						
	div.container-fluid   
		block afterNav
			.container
				div.row-fluid.jumbotron
					h1 Welcome to #{config.name}!
					p A tool for 
						a(href="http://veganizzm.com/") Veganizzm.com
					if user
						div.row-fluid
							h5 Current User: #{user.username}
						div.button.btn.btn-primary
							a(href='/logout') Logout


					else
						div.row-fluid
							h4 This is an app to find and share recipes and learn about vegan substitutes with omniverous appeal
							//- button#veganButton.btn.btn-inverse.btn-large Scrape Veganizzm.com
							//- div#veganRepo

	//- modals and other hidden things

	block modals

	block pageScripts
		script(src='/js/lib/veganizzm.js')


