extends index

block metas
   //- meta(name='description', content='This is an example description!')
      Here you can dynamically control the meta tags for each page
      This is especially useful for social networking sites like facebook that grab information
      from these meta tags to determine how links to your site appear on their site

      Keep in mind that index is providing these for each page already:
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(name='title', content='#{title}')
         

block afterNav
   div.page-header.jumbotron.col-xs-12.col-sm-offset-3.col-sm-6
      h2 Your Profile 
      div.row-fluid#profile-form
         form.form-horizontal(id='userInfo', action='', method='POST')
            div.control-group
               label.control-label(for='name[first]') First Name
               div.form-control
                  span.input-large.uneditable-input #{user.name.first}
            div.control-group
               label.control-label(for='name[last]') Last Name
               div.form-control
                  span.input-large.uneditable-input #{user.name.last}
            div.control-group
               label.control-label(for='email') Email
               div.form-control
                  span.input-large.uneditable-input #{user.email}
            div.control-group
               label.control-label(for='username') Username
               div.form-control
                  span.input-large.uneditable-input #{user.username}
         br
         div.button
            a(href='/logout') Logout

   div.row-fluid


block modals
   //- this is where you can add hidden divs and other elements that you'll want to display
      dynamically on the page. 

block pageScripts
   //- This is where any page specific scripts go   
      Keep in mind that these are included in every page already:
