extends index

block metas
   //- meta(name='description', content='This is an example description!')
      Here you can dynamically control the meta tags for each page
      This is especially useful for social networking sites like facebook that grab information
      from these meta tags to determine how links to your site appear on their site

      Keep in mind that index is providing these for each page already:
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(name='title', content='#{title}')
         

block afterNav
   div.page-header.col-xs-12.col-sm-offset-3.col-sm-6
      h2 Register an Account

   div.row-fluid
      form.form-horizontal(action='/register', method='POST')
         .fieldset
            div.form-group
               label.form-label(for='username') Username
               div.col-xs-12.col-sm-offset-3.col-sm-6
                  input(
                     type='text'
                     name='username'
                     id='username'
                     placeholder='username'
                     required)
                  span.help-inline
            div.form-group
               label.form-label(for='email') Email
               div.col-xs-12.col-sm-offset-3.col-sm-6
                  input(type='email'
                     name='email'
                     id='email'
                     required
                     placeholder='email@example.com')
                  span.help-inline
            div.form-group
               label.form-label(for='password') Password
               div.col-xs-12.col-sm-offset-3.col-sm-6
                  input(type='password'
                     name='password'
                     required
                     placeholder='password')
            div.form-group
               label.form-label(for='name[first]') First Name
               div.col-xs-12.col-sm-offset-3.col-sm-6
                  input(type='text'
                     name='name[first]'
                     required
                     placeholder='John')
            div.form-group
               label.form-label(for='name[last]') Last Name
               div.col-xs-12.col-sm-offset-3.col-sm-6
                  input(type='text'
                     name='name[last]'
                     required
                     placeholder='Smith')
            div.form-actions.col-xs-12.col-sm-offset-3.col-sm-6
               button.btn.btn-primary(type='submit', id='#regBtn', disabled) Register
               | &nbsp;&nbsp;
               a.btn(href='/') Cancel        

block modals
   //- this is where you can add hidden divs and other elements that you'll want to display
      dynamically on the page. 

block pageScripts
   script(src='/js/lib/register.js')
   //- This is where any page specific scripts go   
      // Keep in mind that these are included in every page already:



