extends index

block afterNav
	#searchEngine.jumbotron
		p A tool for 
			a(href="http://veganizzm.com/") Veganizzm.com
		p Recipe search powered by 
			a(href='http://www.yummly.com/recipes')
				img(alt='Yummly', src='http://static.yummly.com/api-logo.png')
		form#recipe-form
			select.chzn-select.form-control.col-xs-12(multiple="true", name="allowedCuisine", style="height: 40px;", data-placeholder="Select cuisine...")
				for item in allowedCuisine
					option(value='#{item.searchValue}') #{item.description}
				
			br
			select.chzn-select.form-control.col-xs-12(multiple="true", name="allowedCourse", style="height: 40px;", data-placeholder="Select courses...")
				for item in allowedCourse
					option(value='#{item.searchValue}') #{item.description}
			br
			select.chzn-select.form-control.col-xs-12(multiple="true", name="allowedAllergy", style="height: 40px;", data-placeholder="Select allergy...")
				option(value='#{allowedAllergy[0].searchValue}') 
				for item in allowedAllergy
					option(value='#{item.searchValue}') #{item.shortDescription}
		
			br
			select.chzn-select.form-control.col-xs-12(multiple="true", name="allowedDiet", style="height: 40px;", data-placeholder="Select diet...")
				for item in allowedDiet
					option(value='#{item.searchValue}') #{item.shortDescription}
		
			br
			select.chzn-select.querySearchSelect.form-control.col-xs-12(name="q", style="height: 40px;", data-placeholder="Select recipe...")
				if q 
					option.querySearchOptions(value='') 
					for item in q
						option.querySearchOptions(value='#{item.id}', style="height: 29px;") #{item.recipeName}	
			br
			button.submit-btn.btn.btn-success(type="submit") Submit Data

	#recipeContainer.col-xs-12.col-sm-offset-2.col-sm-8
		h2#matchedTitle Matched Recipes
		hr
		h4#matchedResults 10  Results
		ul#recipeRepo
			for item in q
				li.matchedRecipe
					if item.smallImageUrls[0]
						img.recipeImg(src="#{item.smallImageUrls[0]}")
					else
						img.recipeImg(src="img/default-recipe.png")
					div.recipeName(value='#{item.id}') #{item.recipeName}
					div.recipeSource Source: #{item.sourceDisplayName}

			
			

block modals
	//- this is where you can add hidden divs and other elements that you'll want to display
		dynamically on the page. 

block pageScripts
	script(src="js/lib/main.js")
	//- This is where any page specific scripts go   
		Keep in mind that these are included in every page already:
